.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.trial_options_container {
	width: 100%;
	height: 60%;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.trial_option {
	height: 210;
	width: 250;
	border: 1px solid gray;
	padding: 20px;
	margin: 20px;
}

.trial_option img {
	width: 100%;
}

.trial_option input {
	margin-top: 15px;
}
